# =========================
# App
# =========================
APP_NAME=mlops-password-frequency-service
APP_ENV=local
LOG_LEVEL=INFO

# Render automatically provides PORT.
# For local run you can use 8000.
PORT=8000

# =========================
# MLflow
# =========================
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_S3_ENDPOINT_URL=

# Model Registry name.
MODEL_NAME=
MODEL_ALIAS=prod

# =========================
# S3 / Object Storage for MLflow artifacts
# =========================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# =========================
# GitLab API
# Used by POST /trigger to start training pipeline
# =========================
GITLAB_URL=
GITLAB_PROJECT_ID=
GITLAB_REF=main
GITLAB_TOKEN=
GITLAB_TRIGGER_TOKEN=

# =========================
# Internal model reload
# Used by GitLab train job to call POST /reload_model
# =========================
SERVICE_RELOAD_URL=
SERVICE_RELOAD_SECRET=

# =========================
# DockerHub and Render
# Used only in GitLab CI/CD
# =========================
DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=

# =========================
# Amvera deploy
# Used only in GitLab CI/CD deploy stage
# =========================
AMVERA_GIT_URL=
AMVERA_USERNAME=
AMVERA_PASSWORD=

# =========================
# Training pipeline
# Passed automatically by /trigger
# =========================
DATA_URL=